apiVersion: apps/v1
kind: Deployment
metadata:
  name: broadcaster-dep
spec:
  replicas: 6
  selector:
    matchLabels:
      app: broadcaster
  template:
    metadata:
      labels:
        app: broadcaster
    spec:
      containers:
        - name: broadcaster
          image: broadcaster-image
          env:
            - name: NATS_URL
              value: nats://my-nats.default.svc.cluster.local:4222
            - name: DISCORD_URL
              value: https://discord.com/api/webhooks/1466143794398494986/FapNqTkx-SKWuaEUkI-iGmb72kuU1-UQnR44yw_YvxRImR82bBgvQ_cY0KSPMM3XN_7T
